body{
    background-color: black;
    background-image: url(stars2.png);
    background-size: 100%;
    margin: 0;
}
#video1{
    width: 50%;
    margin-left: 80px;
    position: relative;
}
h1{
    margin-top: 60vw;

    color: white;
position: relative;
margin-left: 200px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#text1{
    margin-top: 40px;
    color: white;
position: relative;
margin-left: 50px;
line-height: 30px;
width: 50%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#text2{
    margin-top: 40px;
    color: white;
position: relative;
margin-left: 50px;
line-height: 30px;
width: 50%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#text1sub{
    color: white;
position: relative;
line-height: 30px;
width: 50%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#text2sub{
    color: white;
position: relative;
line-height: 30px;
width: 50%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#text3sub{
    color: white;
position: relative;
line-height: 30px;
width: 50%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#link{
    position: absolute;
    top: 92.5px;

    right: 228px;
}
#mainimg{
position: absolute;
top: 0;
margin-left: -8px;
    width: 100%;

}
#textanime{
    position: absolute;
    top: 10vw;
    left: 5rem;
        width: 40%;
    
    }
h2{
text-align: center;
    color: white;
position: relative;
margin-top: 50px;
font-size: 2rem;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    margin-top: 40px;
    color: white;
position: relative;
margin-left: 50px;
line-height: 30px;
width: 90%;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
    margin-top: 40px;
    color: white;
position: relative;
margin-left: 50px;
line-height: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
span{
    font-weight: bold;
}
#img1{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#img2{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#img3{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
footer{
    height: 100px;
    background-color: rgb(8, 33, 51);
    margin-top: 50px;
    width: 100%;
margin-bottom: -10px;
display: flex;
align-items: center;

}
#ccare{
    border-radius: 20px;
    height: 30px;
    width: 150px;
    border: 0;
    background-color: rgb(8, 226, 175);
    color: white;
    position: absolute;
    right: 100px;
}
#launch{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    border: 5px groove black gray;
    background-color: rgb(234, 7, 7);
    color: white;
    margin-left: 300px;
    margin-top: 100px;
}
@media screen and (max-width: 1000px) {
    p{
        font-size: 14px;
    }
    ul{
        font-size: 14px;
    }
    h2{
        font-size: 1.8rem;
    }
    h1{
        font-size: 2rem;
        margin-left: 50px;
    }
}
@media screen and (max-width: 1200px) {
#footertext{
    width: 60%;
}
}
@media screen and (max-width: 720px) {
    #footertext{
        width: 50%;
    }
    footer{
        height: 120px;
    }
    #ccare{
        right: 50px;
    }
    h1{
        font-size: 1.8rem;
    }
    #text1{
        margin-left: 5px;
    }

    }
@media screen and (max-width: 720px) {
    #footertext{
        width: 80%;
    }
    #textanime{
        left: 20px;
    }
    footer{
        height: 180px;
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    #ccare{
        position: static;
        
    }
    }
@media screen and (max-width: 600px) {
    p{
        font-size: 12px;
    }
    ul{
        font-size: 12px;
    }
    h2{
        font-size: 1.5rem;
    }
    h1{
        font-size: 1.3rem;
        margin-left: 10px;
    }
    #text1sub{
        width: 90%;
    }
}
@media screen and (max-width: 720px) {
p{
    margin: 10px;
}
ul{
    margin: 15px;
}
}
@media screen and (max-width: 800px) {
#text2sub{
width: 90%;
}
#text2{
width: 90%;
margin-left: 10px;
}
}
@media screen and (max-width: 360px) {
    #text3sub{
    width: 90%;
    }
h1{
    font-size: 1rem;
}
}
@media screen and (max-width: 400px) {
h1{
    font-size: 1rem;
}
}
@media screen and (min-width: 2000px) {
h1{
    font-size: 3rem;
}
p{
    font-size: 30px;
    line-height: 50px;
}
h2{
    font-size: 2.5rem;
}
#text1sub{
    font-size: 30px;
    line-height: 50px;
}
#text2sub{
    font-size: 30px;
    line-height: 50px;
}
#text3sub{
    font-size: 30px;
    line-height: 50px;
}
#text2{
    font-size: 30px;
    line-height: 50px;
}
ul{
    font-size: 30px;
    line-height: 50px;
}
footer{
    height: 150px;
}
}